body{
    font-size: 36px;
    color: blue;
}


span {
    display:flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 200px 100px;
}   
